- name: Configuration des Web Servers
  hosts: webservers
  tasks:
    - name: Installation de curl (Simulation de dependance)
      apk:
        name: curl
        state: present
        update_cache: yes

    - name: Deploiement de l'application (Page HTML personnalisee)
      copy:
        dest: /usr/share/nginx/html/index.html
        content: |
          <h1>Site heberge sur {{ inventory_hostname }}</h1>
          <p>Deploye via Ansible et Terraform.</p>

- name: Configuration du Load Balancer
  hosts: loadbalancer
  tasks:
    - name: Creation de la config Nginx Load Balancer
      copy:
        dest: /etc/nginx/conf.d/default.conf
        content: |
          upstream backend {
            {% for host in groups['webservers'] %}
            server {{ host }}:80;
            {% endfor %}
          }
          server {
            listen 80;
            location / {
              proxy_pass http://backend;
            }
          }
      notify: Reload Nginx

  handlers:
    - name: Reload Nginx
      command: nginx -s reload
